version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12.9.1-browsers
    working_directory: ~/dwysokinski
    steps:
      - checkout
      - setup_remote_docker
      # start proprietary DB using private Docker image
      # with credentials stored in the UI
      - run: |
          docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
      # build the application image
      - run: docker build -t $DOCKER_LOGIN/dwysokinski.me:latest .

      # deploy the image
      - run: docker push $DOCKER_LOGIN/dwysokinski.me:latest
workflows:
  version: 2
  deploy_prod:
    jobs:
      - build:
          context: dockerhub
          filters:
            branches:
              only:
                - master